@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap");
* {
  font-family: "roboto";
}
header {
  display: flex;
  background-color: rgb(240 0 0);
  margin-top: 0px;
}
.logo {
  position: relative;
  margin-top: 1%;
  margin-left: 5%;
}
.container {
  display: flex;
  flex-direction: column;
}
.container-top {
  color: white;
  display: flex;
  gap: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  margin-left: 28.125rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.container-bottom {
  display: flex;
  margin-left: 3.125rem;
  justify-content: space-between;
  color: white;
  align-items: center;
  font-size: 1.0625rem;
  font-weight: 500;
  padding-top: 0.9375rem;
}
#sponsors {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 0px;
  margin-left: 6.25rem;
}

body {
  margin: 0px;
  background-color: #f1f2f3;
}
.main-section {
  display: flex;
}
.section-1 {
  margin-left: 3%;
  margin-top: 3%;
  width: 68.75rem;
}

.titles {
  background-color: rgb(240 0 0);
  color: rgb(255, 255, 255);
  padding-left: 20px;
  height: 70px;
  font-size: 140%;
  font-weight: bold;
  line-height: 70px;
  margin-bottom: 20px;
}

.section-1-2 {
  display: flex;

  width: 100%;

  box-shadow: 2px 2px 3px 1px #e6e6e6;

  border-top: solid 3px rgb(240 0 0);
}

.youtube-wrapper {
  position: relative;

  overflow: hidden;

  width: 60%;
}

.youtube {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  width: 100%;
  height: 100%;
}

.section1-card {
  width: 40%;
  padding: 2%;

  box-sizing: border-box;

  font-weight: bold;
}
.card-subtitle {
  color: #72767e;
  margin-bottom: 0.625rem;
}
.card-title {
  color: #454d59;
  font-size: 150%;
  margin-top: 0px;
  font-weight: bold;
}

.card-body {
  font-weight: lighter;
  font-size: 90%;
}
.social {
  padding-top: 45%;
}
.socialimg {
  text-decoration-line: none;
  padding-right: 0.625rem;
  float: right;
}
.section-side {
  margin-top: 3%;
  margin-left: 3%;
}
.side-img {
  border-top: solid 3px rgb(240 0 0);
  box-shadow: 2px 2px 3px 1px #e6e6e6;
}
.section-fixture {
  display: flex;
}
.little-section {
  display: flex;
  margin-left: 3%;
  margin-top: 1%;
  width: 68.75rem;
  justify-content: space-between;
}
.little-section-1 {
  width: 21.875rem;

  border-top: solid 0.1875rem rgb(240 0 0);
}
.little-section-2 {
  width: 21.875rem;

  border-top: solid 0.1875rem rgb(240 0 0);
}
.little-section-3 {
  width: 21.875rem;

  border-top: solid 3px rgb(240 0 0);
}
.fixture {
  background-color: #151d2d;
  border-top: solid 3px rgb(240 0 0);
  color: white;
  font-weight: bold;
  font-size: 90%;
  margin-left: 3%;
  margin-top: 0px;
  text-align: center;
  padding: 20px;
}
.match-info {
  color: #454d59;
  text-align: left;
  padding-left: 2px;
}
.matchteams {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
.versus {
  padding-top: 30px;
  color: #454d59;
  font-weight: lighter;
  font-size: 200%;
}

.home-team {
  display: flex;
  flex-direction: column;

  font-size: 90%;
  text-align: center;
}
.away-team {
  display: flex;
  flex-direction: column;
  font-size: 90%;
  text-align: right;
}
.fixture-footer {
  margin-top: 35px;
}
a {
  text-align: left;
  text-decoration-line: none;
  color: inherit;
}
.fixture > hr {
  height: 1px;
  border: 0;
  background-color: #454d59;
  margin: 20px 0px;
}
.profile-section {
  margin-left: 3%;
  margin-top: 3%;
  width: 68.75rem;
}

summary {
  color: rgb(19, 17, 17);
  margin: 5px 20px;

  height: 40px;
  line-height: 40px;
  font-weight: bold;
  font-size: x-large;
}
.details-1 {
  display: flex;
  flex-direction: column;
  border-top: #384450 solid 4px;
  gap: 40px;
}
.goalkeepers {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 40px;
}
.defender,
.defender-2 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.midfielders-1,
.midfielders-2 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 40px;
}
.forwards-1,
.forwards-2 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 40px;
}
.name,
.nation,
.numbers {
  font-size: larger;
  font-weight: bold;
  margin: 5px 0px 5px 5px;
  color: #0a0e18;
}

.player-info {
  display: flex;
  flex-direction: column;
}
