@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap");
* {
  font-family: "roboto";
}
header {
  display: flex;
  background-color: rgb(240 0 0);
  margin-top: 0px;
}
.logo {
  position: relative;
  margin-top: 1%;
  margin-left: 5%;
}
.container {
  display: flex;
  flex-direction: column;
}
.container-top {
  color: white;
  display: flex;
  gap: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0px;
  margin-left: 450px;
  font-size: 12px;
  font-weight: bold;
}

.container-bottom {
  display: flex;
  margin-left: 50px;
  justify-content: space-between;
  color: white;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  padding-top: 15px;
}
#sponsors {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 0px;
  margin-left: 100px;
}

body {
  margin: 0px;
  background-color: #f1f2f3;
}
.main-section {
  display: flex;
}
.section-1 {
  margin-left: 3%;
  margin-top: 3%;
  width: 1100px;
}

.titles {
  background-color: rgb(240 0 0);
  color: rgb(255, 255, 255);
  padding-left: 20px;
  height: 70px;
  font-size: 140%;
  font-weight: bold;
  line-height: 70px;
  margin-bottom: 20px;
}
.section-1-2 {
  display: flex;
  border-top: solid 3px rgb(240 0 0);
  box-shadow: 2px 2px 3px 1px #e6e6e6;
}
.section1-card {
  font-weight: bold;
  padding-left: 2%;
}
.card-subtitle {
  color: #72767e;
  margin-bottom: 10px;
}
.card-title {
  color: #454d59;
  font-size: 150%;
  margin-top: 0px;
}

.card-body {
  font-weight: lighter;
  font-size: 90%;
}
.social {
  padding-top: 45%;
}
.socialimg {
  text-decoration-line: none;
  padding-right: 10px;
  float: right;
}
.section-side {
  margin-top: 3%;
  margin-left: 3%;
}
.side-img {
  border-top: solid 3px rgb(240 0 0);
  box-shadow: 2px 2px 3px 1px #e6e6e6;
}
.little-section {
  display: flex;

  margin-top: 3%;
  margin-left: 3%;
  width: 1100px;
  margin-right: 0px;
}
.little-section-1 {
  width: 350px;
  margin-right: 10px;
  margin-left: 10px;
  border-top: solid 3px rgb(240 0 0);
}
.little-section-2 {
  width: 350px;
  margin-right: 10px;
  margin-left: 10px;
  border-top: solid 3px rgb(240 0 0);
}
.little-section-3 {
  width: 350px;
  margin-right: 10px;
  margin-left: 10px;
  border-top: solid 3px rgb(240 0 0);
}
